<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">


<form class="form-horizontal">
    <div class="form-group">
        <h1>Create a Memo</h1>
    </div>
    <div class="form-group" >
        <label for="date" class="col-sm-2 control-label">Memo Date</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="Date" id="date" placeholder="Date.."/>
        </div>
    </div>
    <div class="form-group">
        <textarea class="col-lg-7" rows="20" id="memo" placeholder=""></textarea>
    </div>
    <div class="col-sm">
        <button type="button" class="btn" id="save_memo">Save</button>
        <button type="button" class="btn" id="cancel_memo">Cancel</button>
    </div>
</form>
</div>
<!-- Start the script -->
<script type="text/javascript">

    var date = "";

    //Function for the date picker to get the date.
    $(function() {
        $('input[name="Date"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true
        })

    });

    //Listen for when the calander has been selected. then set date var.
    $('#date').on('hide.daterangepicker', function(ev, picker) {
        date = $( '#date').val();
    });

    //Canceling the memo entry go back to index.html
    document.getElementById('cancel_memo').onclick = function() {
        window.location.replace("index");
    };

    //When the Save button is pressed wrap up memo and send it to be stored. Then return to index
    document.getElementById('save_memo').onclick = function() {
        var text =$( '#memo' ).val();

        //if no text send a warning.
        if( text == "" ){
            alert("Memo has no text Can't save.");
            return;
        }

        // get the date
        date = $( '#date').val();

   		//Send memo to server then go back to index page
        $.getJSON("/_store", { text: text, date: date },
                function() {
                    window.location.replace("index");
                }
        );


    };
</script>


</body>
</html>
