<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="row">
    <div class="col-sm-4">
        <h1>Memos
            <button type="button" class="btn" id="create">Create Memo</button>
            <button type="button" class="btn" id="delete">Delete</button>
        </h1>
    </div>
</div>


{% if session.memos %}
    {% for memo in session.memos %}
  <div class="memo">
  <div class="row">
  <div class="col-md-2">
      <input type="checkbox" id="{{ memo._id }}">
      {{ memo.date | humanize }}
  </div>
  <div class="col-md-10" id="memo">
    {{ memo.text }}
  </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}

</div> <!-- container -->

<!-- Start the script now -->
<script>

  // If user wants to create memo redirect to create page
  document.getElementById('create').onclick = function() {
    window.location.replace("create");
  };

  //we want to delete selected memos
  document.getElementById('delete').onclick = function() {
    var memos = "";

    //for all checked boxes
    $('input[type=checkbox]').each(function() {
        //if current box is checked add the memo id to a list of memo ids
        if(this.checked){
            console.log(this.id);
            memos = memos + " " + this.id;
         }

        console.log(memos);
        //now pass list to server to be deleted and reload page
        $.getJSON("/_delete", { memos: memos },
                function() {

                    //reload the window
                    window.location.replace("index");
                }
        );//end getJson
    })
  };

</script>

</body>
</html>
